<!DOCTYPE html>
<html>
  <head>
    <title>Rentorr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- adding javascipts and css -->
    <%= stylesheet_link_tag "home/master.css.css" %>
    <%= stylesheet_link_tag "home/master.css" %>
    <%= stylesheet_link_tag    'home/normalize.css' %>
    <%= stylesheet_link_tag    'home/animations.css'%>
    <%= stylesheet_link_tag    'home/animations-ie-fix.css'%>
    <%= stylesheet_link_tag    'home/jquery.autocompleter.css'%>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/ca690728c1.js"></script>
    <%= javascript_include_tag "home/css3-animate-it.js"%>
    <%= javascript_include_tag "home/jquery.autocompleter.js"%>
    <%= javascript_include_tag "home/functions.js"%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
